div {
  border: 1px solid black;
  padding: 250px 50px 75px 300px;
  background-color: rgb(68, 63, 50);
}
body {
  background-color: rgb(235, 231, 218);
  padding: 30px;
}
h1 {
  color: rgb(43, 23, 2);
  margin-left: 20px; 
  font-family: "Comforter Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  color: rgb(66, 44, 15);
  margin-left: 20px;
  font-family: 'Arial Black', Gadget, sans-serif;
}
h3 {
  color: rgb(114, 65, 41);
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
p {
  color: rgb(18, 7, 2);
  margin-left: 20px;
  font-family: 'Papyrus', fantasy;
}
/* link styles */
a:link {
  color: rgb(215, 114, 5);
}
a:visited {
  color: rgb(128, 96, 44);
}
a:hover {
  color: rgb(253, 233, 106);
}
a:active {
  color: rgb(244, 157, 34);
}
/* table styles */
table, th, td {
  border: 1px solid rgb(236, 168, 81);
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
th, td {
  padding: 10px;
} 
th {
  text-align: left;
  background-color: #ffd9a0;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #89e1f3;
}
tr:nth-child(odd) {
  background-color: #d0edad;
}
tr:hover {
  background-color: #ffb5f5;
}
/* list styles */ 
ul.a {
  list-style-type: square;     
}
ul.b {
  list-style-type: Georgian type;     
} 
ul.c {
  list-style-type: upper-roman;     
}