body {
  background-color: rgb(150, 150, 232);
}

h1 {
  color: rosybrown;
  margin-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  color: rgb(93, 94, 85);
  margin-left: 20px;
  font-family: 'Arial Black', Gadget, sans-serif;
}

h3 {
  color: rgb(78, 85, 43);
  margin-left: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

p {
  color: rgb(46, 7, 118);
  margin-left: 20px;
  font-family: 'Papyrus', fantasy;
}

/* link styles */
a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

/* table styles */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
} 
th {
  text-align: left;
}
