div {
  border: 1px solid black;
  padding: 250px 50px 75px 300px;
  background-color: rgb(51, 16, 90);
}
body {
  background-color: rgb(59, 24, 116);
  padding: 30px;
}
h1 {
  color: rgb(223, 197, 236);
  margin-left: 20px; 
  font-family: "Comforter Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  color: rgb(154, 139, 188);
  margin-left: 20px;
  font-family: 'Arial Black', Gadget, sans-serif;
}
h3 {
  color: rgb(178, 154, 181);
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
p {
  color: rgb(244, 243, 245);
  margin-left: 20px;
  font-family: 'Papyrus', fantasy;
}
/* link styles */
a:link {
  color: rgb(239, 107, 226);
}
a:visited {
  color: rgb(93, 92, 96);
}
a:hover {
  color: rgb(162, 57, 157);
}
a:active {
  color: rgb(168, 103, 238);
}
/* table styles */
table, th, td {
  border: 1px solid rgb(183, 128, 241);
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(142, 38, 168, 0.852);
}
th, td {
  padding: 10px;
} 
th {
  text-align: left;
  background-color: #ffd9a0;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #89e1f3;
}
tr:nth-child(odd) {
  background-color: #d0edad;
}
tr:hover {
  background-color: #ffb5f5;
}
/* list styles */ 
ul.a {
  list-style-type: square;     
}
ul.b {
  list-style-type: Georgian type;     
} 
ul.c {
  list-style-type: upper-roman;     
}